{%- block translatable_content_widget -%}
    {%- if 'auto' == col -%}
        {%- set col = locales_count == 1 ? 6 : (locales_count > 3 or locales_count == 0 ? 4 : 12 / locales_count) -%}
    {%- endif -%}
    <div class="row" id="{{ id }}">
        {% for child in form|filter(child => not child.rendered) %}
            {{- form_row(child, {col: col | default (12)}) -}}
        {% endfor %}
    </div>
{%- endblock translatable_content_widget -%}

{%- block translatable_content_entry_row -%}
    <div {% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' mb-1 col-' ~ col | default (12))|trim})} %}{{ block('attributes') }}{% endwith %}>
        <div class="input-group">
            {% if label is not empty %}
            <div class="input-group-prepend">
                <div class="input-group-text"><tt>{{ label }}</tt></div>
            </div>
            {% endif %}
            {{ form_widget(form) }}
        </div>
        {{ form_errors(form) }}
    </div>
{%- endblock translatable_content_entry_row -%}